<%- include("partials/header.ejs") %>

<!-- Navbar -->
    <%- include("partials/navbar.ejs") %> 


    <div class="box-one contest-div">
        <h4><%= contest.name %></h4>

        <div class="row contest-row-div">
            <div class="col-2 contest-col-div">
                <span>Id</span>
            </div>
            <div class="col-6 contest-col-div">
                <span>Name</span>
            </div>
            <div class="col-2 contest-col-div">
                <span>Tutorial</span>
            </div>
            <div class="col-2 contest-col-div contest-col-div-last">
                <span>Solution</span>
            </div>
        </div>

        <% for (let i=0; i<problems.length; i++){ %>
            <% if (i%2 === 0){ %> 
                <div class="row contest-row-div contest-row-div-background">
                    <div class="col-2 contest-col-div contest-col-div-info">
                        <span><%= problems[i].id %></span>
                    </div>
                    <div class="col-6 contest-col-div contest-col-div-info">
                        <span><%= problems[i].name %></span>
                    </div>
                    <div class="col-2 contest-col-div contest-col-div-info">
                        <a href="/editorials/tutorial/<%= problems[i].id %>">link</a>
                    </div>
                    <div class="col-2 contest-col-div contest-col-div-last contest-col-div-info">
                        <a href="/editorials/solution/<%= problems[i].id %>">link</a>
                    </div>
                </div>
            <% } else { %>
                <div class="row contest-row-div">
                    <div class="col-2 contest-col-div contest-col-div-info">
                        <span><%= problems[i].id %></span>
                    </div>
                    <div class="col-6 contest-col-div contest-col-div-info">
                        <span><%= problems[i].name %></span>
                    </div>
                    <div class="col-2 contest-col-div contest-col-div-info">
                        <a href="/editorials/tutorial/<%= problems[i].id %>">link</a>
                    </div>
                    <div class="col-2 contest-col-div contest-col-div-last contest-col-div-info">
                        <a href="/editorials/solution/<%= problems[i].id %>">link</a>
                    </div>
                </div>
            <% } %> 
        <% }; %>

    </div>


<%- include("partials/footer.ejs") %> 